<app-signup></app-signup>
<div class="row">
    <div class="col-sm-6 text-center pt-5">
        <img src="/assets/What-Is-Scribe-Image.png" height="300px" class="align-middle m-5">
    </div>
    <div class="col-sm-4">
        <h2 class="mx-5 my-5">What is Scribe?</h2>
        <h6 class="mx-5 my-1">Scribe is a thought sharing platform where you can share your thoughts and crazy ideas
            with the world. You can also interact with other users by commenting on their posts.<br/><br/>Create a free acount 
            and get started.<br/><br/>Lets get started!
        </h6>
    </div>
</div>
<hr/>
<div class="row">
    <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
         <h4>Contact Us</h4>
         <div class="row">
            <div class="offset-sm-2 col-sm-4 text-left pt-5 vt mt-5">
                <i class="fa fa-phone mt-3">
                    9617043753
                </i>
                <i class="fa fa-envelope mt-3">
                    divyanshukrtiwari09@gmail.com
                </i>
                <br/>
                <i class="fa fa-facebook mt-3">
                    Divyanshu Tiwari
                </i>
            </div>
            <div class="col-sm-6 text-left py-5 px-5 my-5">
                <i class="fa fa-map-marker mt-3"></i>
                Scholiverse Educare Pvt Ltd<br/> 
                <i class="fa fa-map-marker mt-1 invisible"></i>
                B-209, Unitech business zone<br/>
                <i class="fa fa-map-marker mt-1 invisible"></i>
                Nirvana Country, South City-2<br/>
                <i class="fa fa-map-marker mt-1 invisible"></i>
                Gurgaon , India, 122018<br/>
            </div>
         </div>
    </div>
</div>